.PC_wrapper {
  width: 100%;
  overflow: auto;
  position: relative;
}

.PC_bg {
  width: 100%;
  height: 100vh;
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2020-05-22%2F5ec793e87889c.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654852501&t=759a383be479392872edddd4c4c45be6');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.PC_bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(3, 2, 2, 0.2);
  position: absolute;
  top: 0;
}
.PC_title {
  position: absolute;
  top: 48%;
  left: 49%;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.PC_content {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background-color: #f1f1f1;
  display: flex;
}

.PC_content_left {
  flex: 1;
  flex-shrink: 0;
  height: auto;
  background-color: #fff;
  margin-right: 1%;
}

.PC_content_right {
  width: 290px;
  height: 100%;
  margin-left: 1%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.PC_content_right_userInfo {
  width: 100%;
}
.PC_content_right_calendar {
  width: 100%;
  margin: 12px 0;
  background-color: aliceblue;
}

.PC_scroll {
  position: fixed;
  bottom: 100px;
  transition: all 0.5s;
  z-index: 3;
  span {
    border-radius: 4px;
    font-size: 28px;
    background: rgb(0, 162, 255);
    color: #fff;
    cursor: pointer;
  }
}
